@import "../../styles/global.scss";

.Header_header__content__logo__Ia4Is {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 15px;
  bottom: 0;
  width: 120px;
  height: 120px;
}

.video-holder {
  border: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 3rem;
  overflow: hidden;
  z-index: -100;
}

.home-banner-text {
  color: #fff;
  font-size: 3em;
  margin-bottom: 10px;
  position: absolute;
  left: 3rem;
  top: 7rem;
  display: flex;
  align-items: center;
  padding: 0;
}

.home-banner-subtext {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  margin-top: 7em;
  margin-left: 26px;
  position: absolute;
  color: #fff;
  justify-content: center;
}

.container-text {
  display: flex;
  position: relative;
  top: 5em;
  white-space: normal;
}

h4 {
  margin: 0.5rem 0;
  position: relative;
  text-align: center;
  bottom: 23em;
  left: 18em;
  font-size: 25px;
  color: #fff;
}

h5 {
  margin: 0.5rem 0;
  position: relative;
  text-align: center;
  bottom: 26em;
  left: 30em;
  font-size: 25px;
  color: #fff;
}

h5.home-banner-merchtext {
  position: relative;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
//   display: flex;
//   position: absolute;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   bottom: 2rem;
//   left: 56rem;
//   font-size: 20px;
}
.image-gallery {
  position: relative;
  display: flex;
  z-index: -1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 40rem;
  margin-bottom: 5rem;
}

iframe {
  border: none;
  width: 100%;
  height: 128vh;
  position: relative;
  left: 0px;
  top: 0;
  overflow: hidden;
  z-index: -100;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: relative;
  top: 40rem;
}
.footer-image {
  width: 100%;
  height: 217px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shop-here {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 20em;
  top: 5em;
}

.ninjastar-image {
  width: 17%;
  height: 100px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 38px;
  align-items: center;
  justify-content: center;
}

.gif-container {
  bottom: 30rem;
  right: 6rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: absolute;
  align-items: center;
}

.gif-image {
  height: auto;
  width: 185px;
  z-index: 1;
}

.productlist-section {
  display: flex;
  position: relative;
  top: 35rem;
  background: #fff;
  padding: 20px;
  z-index: -100;

  .product-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
}

.video-play {
  display: flex;
  position: absolute;
  top: 13rem;
  left: 7rem;
  font-size: 12px;
  font-family: "Grandstander";
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  margin: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease all;

  &:hover {
    border-color: #fde767;
    background: #9f8d29;
    color: #fde767;
  }
}

@media only screen and (max-width: 426px) {
  .video-holder{
    top: 0em;
    height: 56vh;
  } 

  img.Header_header__content__logo__Ia4Is {
  
    top: 30px;
    width: 100px;
    height: 100px;
    left: 20px;
 }

.home-banner-text {
  font-size: 19px;
  left: 3rem;
  top: 4rem;

}
.home-banner-subtext{
  font-size: 12px;
  margin-top: 8em;
}
.video-play {
  top: 7rem;
  left: 4rem;
  font-size: 7px;
  padding: 1em 1em;
}

.image-gallery{
  top: 14rem;
}
.footer-image {
  height: 90px;
}
.ninjastar-image{
  height: 38px;
}
.gif-container {
  top: -18rem;
  bottom: 25rem;
    right: 0rem;
}
.gif-image{
  width: 140px;
}
.shop-here{
  right: 0em;
  top: 4.5em;
  flex-direction: row;
  width: 100%;
  background: #bc1823;
  padding: 0.5em 0;
}
.home-banner-merchtext {
  font-size: 15px;
  margin-right: 15px;
}
.shop-button {
  font-size: 13px;
  padding: 1em 2em;
  font-weight: bold;
}
.productlist-section {
  top: 13rem;
}

.footer-content{
  flex-direction: column;
}
.footer-content > div {
  margin-bottom: 15px;
}
}


@media only screen and (max-width: 460px) {
  .video-holder{
    top: -10em;
    height: 56vh;
  } 

  img.Header_header__content__logo__Ia4Is {
  
    top: 30px;
    width: 100px;
    height: 100px;
    left: 20px;
 }
 
.home-banner-text {
  font-size: 19px;
  left: 3rem;
  top: 4rem;

}
.home-banner-subtext{
  font-size: 12px;
  margin-top: 8em;
}
.video-play {
  top: 7rem;
  left: 4rem;
  font-size: 7px;
  padding: 1em 1em;
}

.image-gallery{
  top: 13rem;
}
.footer-image {
  height: 90px;
}
.ninjastar-image{
  height: 38px;
}
.gif-container {
  top: 0rem;
  bottom: 15rem;
    right: 0rem;
}
.gif-image{
  width: 100px;
}
.shop-here{
  right: 0em;
  top: 4.5em;
  flex-direction: row;
  width: 100%;
  background: #bc1823;
  padding: 0.5em 0;
}
.home-banner-merchtext {
  font-size: 15px;
  margin-right: 15px;
}
.shop-button {
  font-size: 13px;
  padding: 1em 2em;
  font-weight: bold;
}
.productlist-section {
  top: 13rem;
}

.footer-content{
  flex-direction: column;
}
.footer-content > div {
  margin-bottom: 15px;
}
}
